<div class = 'itemContent'>
  <div  ng-if="!item.editMode" ng-style="{'text-decoration': item.line}" ng-mousedown="vm.mouseDrag($event)">
    <input type="checkbox" ng-if="!item.empty" ng-model = "item.done" ng-click="vm.editItem($index,item.value,item.done)"/>
      {{item.value}}
  </div>
  <div  ng-if="item.editMode">
    <input id ="mainInput" name="mainInput" value = "{{item.value}}" placeholder="enter To Do Item Text Here (press enter to save)" type="text" ng-model="item.value" ng-keydown="vm.exitEditMode($event,$index)"/>
  </div>
</div>
<div class='buttons'  ng-if="!item.empty">
  <div class = 'item-Button editItem-Button' ng-click="vm.editModeAction($index)">[e]</div><!--repalce with pencil icon-->
  <div class = 'item-Button addItem-Button' ng-click="vm.addItem($index+1,{value:vm.inputData,done:false, editMode: true})"> [+] </div>
  <div class = 'item-Button removeItem-Button' ng-click="vm.removeItem($index)"> [X] </div>
</div>
