<div id = 'actionMenu'>
   <profile>
   </profile>
</div>
<div id = "content" ng-if="vm.profileMode == 'profile'">
  <div id = 'tabs'>
    <div>
      <input type="text" placeholder="search" ng-model="vm.search"  ng-keydown="vm.searchListsAction($event)"id = "searchBar"/>
      <div id = "addTabButton" ng-click="vm.addListAction()">[add List]</div>
    </div>
    <tab  ng-repeat ="tab in vm.tabs">{{tab.name}}</tab>
  </div>
  <div id = "mainBody" ng-if="!vm.listCreation">
    <input id ="mainInput" name="mainInput" placeholder="enter To Do Item Text Here (press enter to save)" type="text"ng-model="vm.inputData" ng-keydown="vm.addItemAction($event)"/>
    <List-Item class = 'item' ng-repeat = 'item in vm.displayList' ></List-Item>
    <div id = "pageTurner">
      <div ng-click="vm.flipPage(-1)"> < </div>
      <div ng-click="vm.flipPage(1)"> > </div>
    </div>
  </div>
  <list-Creation ng-if="vm.listCreation == true">
  </list-Creation>
</div>
<cover ng-if="vm.profileMode == 'signIn'"></cover>
