

<div id = 'actionMenu'>
  <div class = "actionMenuButton" id = "saveButton" ng-click="vm.saveButton()">[Save]</div>
   |
   <profile>
   </profile>
</div>
<div id = "content">
  <div id = 'tabs'></div>
  <div id = "mainBody">
    <input id ="mainInput" name="mainInput" placeholder="enter To Do Item Text Here (press enter to save)" type="text"ng-model="vm.inputData" ng-keydown="vm.addItemButton($event)"/>
    <!--<div class=""  ng-repeat = 'item in vm.list' >
      {{item}}
    </div>-->
    <List-Item class = 'item' ng-repeat = 'item in vm.displayList' ></List-Item>
  </div>
</div>
