*{
}
body{
  margin: 0;
  background: #222;
  color: black;
}
#actionMenu{
  background: lightgrey;
  display: flex;
  flex-direction: row;
}
.actionMenuButton:hover{
  color: black;
}
.actionMenuButton:hover{
  color: darkgrey;
}
#profileBar{
  display: flex;
  flex-direction: column;
}
#profileBar div{
  display: flex;
  flex-direction: row;
}
.tab{
  background-image: url(resources/redBookmark.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0px 20px;
}
.tab h2{
  text-align: right;
}
#content{
  min-height: 778px;
  min-width: 800px;
  display: flex;
  flex-direction: row;
  background: black;
  background-image: url(resources/coverTexture.png);
  padding: 1% 5%;
  margin: 2.5%;
}
#content h1{
  color: lightgrey;
}
#tabs{
  background: grey;
  width: 150px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
#mainBody{
  display: flex;
  flex: auto;
  flex-direction: column;
  background: antiquewhite;
  border: solid 1px;
  border-color: silver;
  flex-shrink: .5;
  min-height: 778px;
  min-width: 800px;
}
#mainInput{
  display: block;
  margin: 4px 2px;
  height: 22px;
  min-width: 700px;
}
.item{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: auto;
  margin: 2px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0px 10px;
  min-height: 22px;
}
.itemContent{
  flex-grow: 1;
}
.buttons{
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
}
.item-Button{
  flex-grow: 0.01;
  color:gainsboro;
}

.item-Button:hover{
  color: black;
}
