*{
}
body{
  margin: 0;
  background: #222;
  color: black;
}
#content{
  display: flex;
  flex-direction: row;
  background: black;
  padding: 1% 5%;
  margin: 2.5%;
}
#tabs{
  background: grey;
  width: 150px;
  flex-shrink: 0;
}
#mainBody{
  display: flex;
  flex: auto;
  flex-direction: column;
  background: antiquewhite;
  border: solid 1px;
  border-color: silver;
  flex-shrink: .5;
}
#mainInput{
  flex: auto;
  display: block;
  margin: 4px 2px;
}
.item{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: auto;
  margin: 2px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0px 10px;
}
.itemContent{
  flex-grow: 1;
}
.buttons{
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
}
.item-Button{
  flex-grow: 0.01;
}
