body{
  margin: 0;
  background: #222;
  color: black;
}
#content{
  display: flex;
  flex-direction: row;
  background: black;
  padding: 1% 5%;
  margin: 2.5%;
}
#tabs{
  background: grey;
  width: 150px;
}
#mainBody{
  display: flex;
  flex: auto;
  flex-direction: column;
  background: antiquewhite;
  border: solid 1px;
  border-color: silver;
  padding: 1px 25px;
}
#mainInput{
  flex: auto;
  width:75%;
  display: block;
}
#item{
  width:75%;
}
