body{
    margin: 0;
    background: #222;
    color: black;
}

#mainBody{
  background: antiquewhite;
  border: solid 1px;
  border-color: silver;
  padding: 1px 25px;
}
#mainInput{
  width:75%;
  display: block;
}
#item{
  width:75%;
}
